<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="n" name="album_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="album_year">Year name</label>
    <input id="album_year" name="album_year" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="album_genre">Genre name</label>
    <input id="album_genre" name="album_genre" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="album_artist">Artist name</label>
    <input id="album_artist" name="album_artist" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>